<div class="container mt-4">
    <form method="post" action="">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Keyword</label>
    <input type="text" name="keyword" class="form-control" id="exampleInputEmail1"  placeholder="Keyword...">
    {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
  </div>
  <select class="form-select mt-3 mb-3" name="gioitinh">
  <option selected>Gioi Tinh</option>
  <option value="1">Nam</option>
  <option value="2">Nu</option>
  <option value="3">Khac</option>
</select>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>